@import 'common'

#acta

  .duracion
    font-weight: 300
    color: #878786
    font-size: 1rem

  div
    width: 100%
    margin: 0 auto 40px auto

  .status1
    border-top: 1px solid #59575e
    width: 60%
    float: left
    clear: right
    box-sizing: border-box
    padding-top: 0.2rem

    h4
      font-size: 1.1rem
      font-weight: 400

  h3
    text-align: left
    float: left
    font-weight: 700
    box-sizing: border-box
    font-size: 1.8rem
    color: $textColor
    width: 100%
    margin-bottom: 0.5rem

  .box_content
    clear: both
    h4
      width: 85%
      display: block
      font-size: 1.25rem
      font-weight: 300
      height: inherit

    h5
      font-weight: 400
      width: 100%
    p
      font-weight: 300

  .tagline
    margin-bottom: 1rem

  .link
    color: #317bbf
    text-decoration: none
    font-weight: 300
  span
    padding-right: 1rem


  article:last-of-type
    h4
      @extend .h2

    form
      label
        font-size: 1.25rem

      input[type=submit]
        width: 100%
