@import 'common'

#reunion2

  .duracion
    font-weight: 300
    color: #878786
    font-size: 1rem

  .link
    color: #317bbf
    text-decoration: none
    font-weight: 300

  div
    margin: 0 auto 40px auto

    .status1
      border-top: 1px solid #59575e
      width: 60%
      float: left
      box-sizing: border-box
      padding-top: 0.2rem

      h4
        font-size: 1.1rem
        font-weight: 400

    .status2
      border-top: 1px solid #b6b5b4
      width: 40%
      float: right
      box-sizing: border-box
      padding-top: 0.2rem

      h4
        font-size: 1.1rem
        font-weight: 300
        color: $textColor_notification

  .votos_reunion

    h5
      font-size: 1.5rem
      margin-bottom: 20px

    label
      font-size: 1.25rem
      width: 100%
      margin-bottom: 20px

    input[type=radio]
      width: 1.8rem
      float: left

    input[type=submit]
      margin-top: 20px
